<div *ngIf='showLoader' style="top:65px;bottom:0;left:0;right:0;height:calc(100% - 65px); opacity:0.5;background:gray;z-index:999;position:absolute;">
  <div style="margin:auto;position:fixed;top:50%;left:50%;">
      <img src="assets/reddyIce/spinner.gif " width='25px'>
  </div>
</div>

<ba-card cardTitle="LEADS" class="smart-table-container" #leads>
    <div class="row">
        <div class="col-md-2 col-sm-12 no-padding-right">
            <label>Start Date</label>
            <div class="input-group">
                <date-picker [(dateModel)]="leadTask.startDate" (dateModelChange)="refreshDataHandler()"></date-picker>
            </div>
        </div>
        <div class="col-md-2 col-sm-12 no-padding-right">
            <label>End Date</label>
            <div class="input-group">
                <date-picker [(dateModel)]="leadTask.endDate" (dateModelChange)="refreshDataHandler()"></date-picker>
            </div>
        </div>
        <div class="col-md-2 col-sm-12 no-padding-right">
            <label>Select Customer</label>
            <select (change)="refreshDataHandler()" class="form-control"
                [(ngModel)]="leadTask.CustomerName" id="exampleSelect1">
                <option [value]="0">Select Customer</option>
                <option [value]="1">All Customer</option>
                <option *ngFor='let customer of allCustomer' [value]="customer.CustomerName">{{customer.CustomerName}}</option>
            </select>
        </div>
        <div class="col-md-2 col-sm-12 no-padding-right">
            <label>Status</label>
            <select class="form-control" (change)="refreshDataHandler()" [(ngModel)]="leadTask.Status">
                <option [value]="0">Select Lead Status</option>
                <option [value]="1">All Status</option>
                <option *ngFor='let status of allStatus' [value]="status.LeadStatusID">{{status.LeadStatus}}</option>
            </select>
        </div>
        <div class="col-md-2 col-sm-12 no-padding-right view-btn">
            <button class="btn btn-primary" [disabled]='!buttonAction' (click)="getAllLeads()">View </button>
        </div>
        <div class="col-md-2 col-sm-12 createTicketBtn">
            <button [routerLink]="['../create']" class="btn btn-primary addCustBtn pull-right">
                Create
            </button>
        </div>
    </div>
    <div class="table-container" style="overflow-x:auto;">
        <table class="table table-striped table-condensed notification-list-table">
            <thead class="tableHeader">
                <tr>
                    <th class="table-id thVerticalAlign actionAlignCenter" style="width: 8%;">Actions</th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            Lead Number
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            Lead Type
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            Lead Source
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            Customer Name
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-center">
                        <span>
                            Address
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            Shop Name
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            Quantity
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            Lead Date
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            FollowUp Date
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            Status
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr valign="middle" *ngFor="let item of allLeadsList let i=index">
                    <td class="table-id">
                        <a [routerLink]="['../view',item.LeadID]">
                            <i class="ion-eye custom-tooltip-ion" style="margin-right: 5px">
                                <span class="tooltiptext">View</span>
                            </i>
                        </a>
                        <a [routerLink]="['../edit',item.LeadID]">
                            <i class="ion-edit custom-tooltip-ion" style="margin-right: 5px">
                                <span class="tooltiptext">Edit</span>
                            </i>
                        </a>
                        <i *ngIf="item.ISEdit == 1" class="ion-trash-a custom-tooltip-ion" 
                            (click)="deleteNotification(item.LeadID);">
                        <span class="tooltiptext">Delete</span>
                        </i>
                    </td>
                    <td class='text-align-left leadNumber'>{{item.LeadNumber}}</td>
                    <td class='text-align-left type'>{{item.LeadType}}</td>
                    <td class='text-align-left source'>{{item.LeadSource}}</td>
                    <td class='text-align-left custname'>{{item.CustomerName}}</td>
                    <td class='text-align-left address'>{{item.Address}}, {{item.StateName}}, {{item.Zip}}</td>
                    <td class='text-align-left shopName'>{{item.ShopName}}</td>
                    <td class='text-align-left quantity'>{{item.Quantity}}</td>
                    <td class="text-align-left createdOn">{{item.LeadDate}}</td>
                    <td class="text-align-left createdOn">{{item.LeadDate}}</td>
                    <td class="text-align-left leadStatus">{{item.LeadStatus}}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="noLeadFound == '' && allLeadsList.length == 0 && refreshMessage" style = "background-color:rgba(0, 0, 0, 0.1);font-size:16px;padding: 11px;text-align:center;">{{refreshMessage}}</div>
        <div *ngIf="noLeadFound != '' && allLeadsList.length == 0" style = "background-color:rgba(0, 0, 0, 0.1);font-size:16px;padding: 11px;text-align:center;">{{noLeadFound}}</div>
    </div>
</ba-card>