@import "../../../theme/sass/conf/conf.scss";

$arrow-top: 33%;

label {
  text-align: right;
  padding-right: 10px;
}
.form-control:focus {
  border-color: #cbcbcb;
}
.row {
  padding: 5px 0;
}
.mandatory {
  color: #f11c1c;
}
.searchtext {
  border-color: rgb(169, 169, 169);
}
.fa-search:before {
  position: absolute;
  right: 20px;
  top: 12px;
}
.buttonMargin {
  margin-left:10px;
}

.radioButtonMargin {  
  margin-top: 6px;
}

.mttableHeader {
  /* background: #5bc0de; */
  color: black;
}

.addProdBtn {
  padding-left: 60px;
}

.createNewTicket {
  border: 1px solid;
  padding: 15px;
}

.paymentType {
  padding:8px 0 0 0;
  text-align: center;
  margin-left: -10px;
  margin-top: 2px;
  background: #ffffcc;
  border-radius: 15px;
  padding:7px;
}

.newTicketTitleStatusIcon {
  position: absolute;
  left: 10px;
  top: 15px;
}

.dummyMarginTop {
  margin-top: 15px;
  margin-bottom: 15px;
}

.showError {
  color: #ed7878;
  position: absolute;
  right: 23px;
  top: 12px;
}

.custom-tooltip {
  background: #ed7878;
  color: white;
  padding: 5px;
  display: inline;
  position: absolute;
  border-radius: 4px;
  top: -19px;
  right: 1%;
}

#checkNumber .showError {
  top: 121px;
}

#checkNumber .custom-tooltip {
  top: 74px;
}

#checkAmount .showError {
  top: 195px;
}

#checkAmount .custom-tooltip {
  top: 148px;
}

.showError:after {
  content: '';
  display: inline;
  position: absolute;
  right: -5px;
  margin: -5px;
  top: 3%;
  border: 5px solid #ed7878;
  border-right-color: transparent;
  border-bottom-color: transparent; 
  border-top-color: #ed7878;
  border-left-color: transparent;
  left: 56%;
}

// .search-container {
//   position: absolute;
//   max-height: 200px;
//   overflow-y: scroll;
//   width: calc(100%);
//   padding:0px;
//   border: 1px solid #ccc;
//   background: #fff;
//   z-index: 12;
//   .search-item{
//     padding: 6px 12px;
//     border-bottom: 1px solid #d6cccc;
//     cursor: pointer;
//     &:hover{
//       background: #5bc0de;
//       color:#fff;
//     }

//   }
  
//   .search-item:last-child{
//     border-bottom: 0px solid #d6cccc;
//   }
// }

.padding {
  padding:5px;
}

.border {
  border:1px solid #5bc0de;
}

// .frameHeading {
//   position: absolute;
//   top: -9px;
//   background: white;
//   width: 135px;
//   padding: 0px 10px;
//   text-align: center;
// }

// .frameMargin {
//   margin-left: -15px;
// }

// .cashPanel {
//   margin-left: 5px;
// }

.tablePanel {
  margin-top:10px;
  padding-bottom: 0px;
  background: #5bc0de;
  margin-left: 10px;
  margin-right: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 10px; 
}
.cr-height {
  height: 433 px;
}
// .topMargin30 {
//   margin-top:30px;
// }

// .topMargin15 {
//   margin-top:15px;
// }

// .input-group {
//   margin-bottom: 0;
// }

// .listOfProdMargin {
//   margin-left: 40px; 
// }

// .cashPanelMargin {
//   margin-left: 36px;
// }

.ionTrash {
  font-size: 20px;
}

.textAlignRight {
  text-align: right;
}

.prodListElement {
  height: 2rem;
  margin-top: 4px;
  margin-bottom: 4px;
}

#prodDSD, #prodMR, #prodI, #prodPBS {
  select.form-control:not([size]):not([multiple]) {
    height: 2rem;
  }
}

.head-button-container {
  position: absolute;
  right: 15px;
  top: -56px;
}

.textAlignCenter {
  text-align: center;
}

.uploadLink {
  line-height:2px;
}
.uploadLink:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.backtonotification
{
  position: absolute;
    top: 7px;
    right: 108px;
}

.submit-create-notification
{
  position: absolute;
  top: 7px;
  right: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;
  margin-top: 5px;

 

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

}
.textlbl
{
  line-height: 30px;
  padding: 0px 12px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
  border: 1px solid #aaa;
}

input:checked + .slider {
  background-color: #5cc0de;
}

input:focus + .slider {
  box-shadow: 0 0 0px #5cc0de;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.recurrence-radio
{
  margin: 8px 0 0 0;
}
.recurrence-radio input[type="radio"]
{
  vertical-align: middle;
  cursor: pointer;
}

.recurrence-radio input[type="radio"] + label
{
  cursor: pointer;
}

.table-scroll,.selected-table {
  overflow-y: auto;
  max-height: 356px;
}

.custom-recurrence-lbl
{
  white-space: nowrap;
}
.no-padding
{
padding: 0 !important
}
.no-padding-right
{
  padding-right: 0 !important
}

.no-padding-left
{
  padding-left: 0 !important
}

.shortlisted-for-selection
{
  width: 45%;
  padding-right: 15px;
  padding-left: 15px;
}
.selected-for-notification
{
  width: 45%;
  padding-right: 15px;
  padding-left: 15px;
}

.arrow-sign {
  position: relative;
  width: 10%;
  text-align: center;
  padding-right: 15px;
  .arrow-right-position {
    position: absolute;
    top: $arrow-top;
    font-size: 45px;
    
  }
  .arrow-left-position {
    position: absolute;
    top: calc(#{$arrow-top} + 45px);
    font-size: 45px;
    
  }

}

#NotificationMessage
{
  height: 33px;
}

.no-bottom-padding
{
  padding-bottom: 0;
}

.top-section .input-group
{
  margin-bottom: 0;
}

.arrow-disabled
{
  opacity: 0.5;
  cursor: auto;
}

.arrow-enabled
{
  opacity: 1;
  cursor: pointer;
}

.small-col-120
{
  min-width: 120px;
}

.no-wrap
{
  white-space: nowrap;
}

// .time-picker-input
// {
//   text-align: left;
//   // max-width: 72px;
//   padding: 8px 4px;
//   cursor: pointer;
// }

.time-picker-container {
  width:86%;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
}

// .time-picker-input.form-control[readonly]
// {
//   color: #666666;
// }

// .time-picker-container
// {
//   position: relative;
// }

.create-notification-filter .row
{
  margin-right: -15px;
  margin-left: -15px;
}

.create-notification-filter div[class^='col-md-'] 
{
  padding-right: 5px;
  padding-left: 5px;
}

.create-notification-filter div[class^='col-md-']:first-child
{
  padding-left: 15px;
}

.create-notification-filter div[class^='col-md-']:last-child
{
  padding-right: 15px;
}