<div class = 'popup-outer' >
    <div>
        <h4 class="modal-title">{{modalHeader}}</h4>
        <button class="close" aria-label="Close" (click)="dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class = 'outer-content'>{{modalContent}}</div>
</div>

<div class="modal-content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Lead Number</th>
                <th>Lead Type</th>
                <th>Lead Source</th>
                <th>Customer Name</th>
                <th>Shop Name</th>
                <th>Quantity</th>
                <th>Status</th>
            </tr></thead>
		    <tr *ngFor = "let item of modalData">
                <td>{{item.LeadNumber}}</td>
                <td>{{item.LeadType}}</td>
                <td>{{item.LeadSource}}</td>
                <td>{{item.CustomerName}}</td>
                <td>{{item.ShopName}}</td>
                <td>{{item.Quantity}}</td>
                <td>{{item.LeadStatus}}</td>
            </tr>
        </table>
    <div class="modal-footer">
        <button class="btn btn-primary confirm-btn add-margin-right" (click)="closeModal()">{{BUTTONS.OK}}</button>
        <button *ngIf="showCancel" class="btn btn-default" (click)="dismiss()">{{BUTTONS.Cancel}}</button>
    </div>
</div>